<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>New Schedule</title>
</head>
<body>
<div th:insert="../static/navigationbar.html" :: header> </div>
<h1>Add New Schedule </h1>
<form th:action="@{/createschedule/post}" th:object="${newSchedule}" method="POST">
    <label for="movieId">Movie</label>
    <input type="text" id="movieId" name="movieId" th:field="*{movieId}"><br/>
    <label for="theaterId">Theater</label>
    <input type="text" id="theaterId" name="theaterId" th:field="*{theaterId}"><br/>
    <label for="time">Time</label>
    <input type="text" id="time" name="time" th:field="*{time}"></br>

    <input type="submit" value="Submit Schedule" />
</form>

</body>
</html>