<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Schedule Edit</title>
</head>
<body>
<div th:insert="../static/navigationbar.html" :: header> </div>
<h1>Schedule Edit Form</h1>
<form th:action="@{/updateschedules/update}" th:object="${scheduleToEdit}" method="POST">
    <label for="movieId">Movie</label>
    <input disabled type="text" id="movieId" name="movieId" th:field="*{movieId}" /><br/>
    <label for="theaterId">Theater</label>
    <input disabled type="text" id="theaterId" name="theaterId" th:field="*{theaterId}" /><br/>
    <label for="time">time</label>
    <input type="text" id="time" name="time" th:field="*{time}" /><br/>
    
    <input type="hidden" id="id" name="id" th:field="*{id}" />
    <input type="submit" value="Submit Update" />
</form>

</body>
</html>