<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Comment Form</title>
</head>
<body>
<div th:insert="../static/navigationbar.html" :: header> </div>
<h1>Edit Comment</h1>
<form th:action="@{/comment/*{id}/edit}" th:object="${commentToEdit}" method="POST">
    <label for="name">Name</label>
    <input type="text" id="name" name="name" th:field="*{name}" /><br/>
    <label for="email">Email</label>
    <input type="email" id="email" name="email" th:field="*{email}" /><br/>
    <label for="movie">Movie</label>
    <input type="text" id="movie" name="movie" th:field="*{movie}" /><br/>
    <label for="date">Current date</label>
    <input type="date" id="date" name="date" th:field="*{date}" /><br/>
    <label for="comment">Comment</label>
    <textarea id="comment" name="comment" th:field="*{comment}" rows="4" cols="100" ></textarea>
    <br>
    <br>
    <input type="hidden" id="commentID" name="commentID" th:field="*{id}" />

    <input type="submit" value="Submit Update" />
</form>

</body>
</html>