<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>New Comment</title>
</head>
<body>
<iframe src="./navigationBar.html" width="100%" height="50" style="border:none;"></iframe>
<h1> New comment form</h1>
<form th:action="@{/comment/new}" th:object="${commentToAdd}" method="POST">
    <table>
        <div class=""><tr> <td> Name: </td><td><input type=”text” name=”” required> </td> </tr></div>
        <tr> <td> Email: </td> <td> <input type="email" email=”” required> </td> </tr> </table>
        <br>
         <textarea placeholder="Enter comment here (Max 400 characters)" rows="4" cols="100" ></textarea>  </table>
    <div>
        <br>
        <input class="btn btn-success" type="submit" value="Submit comment"></div>

</form>

</body>
</html>